<div id="header">
  <%= link_to image_tag("Kenall.gif", id: "logo"), root_path %>
  <%= form_tag "/" do %>
    <%= text_field_tag :search, @search %>
    <%= submit_tag "検索" %>
  <% end %>
</div>

<% unless @searches.empty? %>
  <table>
    <thead>
      <tr>
        <td>郵便番号</td>
        <td>住所</td>
      </tr>
      <thead>
    <tbody>
      <% @searches.each do |search| %>
        <tr>
          <td><%= search.zip.gsub /^(\d{3})(\d{4})/,'\1-\2' %></td>
          <td><%= highlighter search.address, @search %><br>
          <%= highlighter search.address_kana, @search %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= paginate @searches %>
<% else %>
  <p>検索する語を入力してください</p> 
  <p>地名から郵便番号、郵便番号から地名を検索するサイトです</p> 
  <p>データは2012年9月1日現在のものを使用しています</p>
<% end %>
